body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.section {
  padding: 20px;
}

.hidden {
  display: none;
}

.input-group input, .search-group input {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

#vocabularyList li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#vocabularyList li:hover .actions {
  display: block;
}

.actions {
  display: none;
}

.dark-mode {
  background-color: #121212;
  color: white;
}
