body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .container {
    background-color: #444;
    color: #f4f4f4;
}

h1 {
    text-align: center;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-fields input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#save-btn {
    background-color: #ffc107; /* Gelb */
    color: black;
}

#save-btn:hover {
    background-color: #e0a800; /* Dunkleres Gelb */
}

#vokabel-list {
    margin-top: 20px;
}

.vokabel-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vokabel-item:hover {
    background-color: #f0f0f0;
}

.dark-mode .vokabel-item:hover {
    background-color: #555;
}

.vokabel-item .actions {
    display: none;
    gap: 5px;
}

.vokabel-item:hover .actions {
    display: flex;
}

.vokabel-item .actions button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.vokabel-item .actions button:hover {
    background-color: #0056b3;
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
}

#theme-toggle:hover {
    background-color: #0056b3;
}

/* Stile für die Import-/Export-Buttons */
.import-export-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.export-btn, .import-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.export-btn {
    background-color: #0DA920; /* Blau */
    color: white;
}

.export-btn:hover {
    background-color: #0056b3; /* Dunkleres Blau */
}

.import-btn {
    background-color: #08951A; /* Grün */
    color: white;
}

.import-btn:hover {
    background-color: #08951A; /* Dunkleres Grün */
}

.query-section {
    margin-top: 20px;
}

#query-result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.dark-mode #query-result {
    background-color: #444;
    color: #f4f4f4;
}
